* {
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

body {
    background-color: #f3f3f3;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 2px 15px;
    background-color: #fff;
}


.header_line {
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-between;

}

.logo img {
    width: 40px;
    height: 40px;
}

.heading {
    padding-left: 8px;
}

.heading p {
    font-size: 14px;
    color: #5a5a5a;
}

.heading b {
    font-size: 24px;
    text-transform: uppercase;
    color: #39930d;
    font-weight: bold;
}

.contacts b {
    font-size: 14px;
    color: #5a5a5a;
    font-weight: bold;
    position: relative;
    padding-right: 40px;
}

.contacts b:before {
    content: url(../images/grafik.png);
    box-sizing: content-box;
    position: absolute;
    right: 150px;
}

.contacts a {
    font-size: 14px;
    line-height: 7px;
    color: #5a5a5a;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

.contacts a:before {
    content: url(../images/phone.png);
    box-sizing: content-box;
    position: absolute;
    right: 130px;
}

.gallery img {
    width: 100%;
    padding-bottom: 10px;
}

.slide {
    display: flex;
    justify-content: space-between;
    padding-bottom: 31px;
}

.slide img {
    width: 24%;
}

.main_content {
    display: flex;
    justify-content: space-between;
}

.main_text {
    width: 70%;
    margin-bottom: 20px;
}

.main_text h1 {
    font-size: 24px;
    line-height: 7px;
    color: #39930d;
    font-weight: bold;
    padding-bottom: 23px;
    padding-top: 6px;
}

.main_content h2 {
    background-color: #39930d;
    padding: 14px 72px 14px 19px;
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
}

.aside-menu ul {
    padding-top: 22px;
    list-style: none;
    padding-left: 22px;
}

.aside-menu ul li a {
    color: #343434;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

.aside-menu ul li a:hover {
    text-decoration: underline;
}

.sam_text p {
    padding-bottom: 23px;
}

.sam_text:last-child {
    padding-bottom: 50px;
}

.footer {
    background-color: #39930d;
    display: flex;
    justify-content: space-between;
}

.footer p {
    color: #fff;
    padding: 15px 0px 15px;
}

.footer_content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.social_icons {
    align-items: center;
}

.social_icons a {
    padding-right: 10px;
}

.social_icons a img {
    align-items: center;
    width: 23px;
}

.social_icons a:last-child {
    padding: 0;
}