* {
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

html{
    font-size: 1px;
}

body {
    background-color: #f3f3f3;
    font-size: 14rem;
    
}

.wrapper {
    width: 80%;
    /* max-width: 1000px; */
    margin: 0 auto;
    padding: 2px 15px;
    background-color: #fff;
}


.header_line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin: 15px 0px;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
}

.logo img {
    width: 40px;
    height: 40px;
}

.heading {
    padding-left: 8px;
}

.heading p {
    font-size: 14rem;
    color: #5a5a5a;
}

.heading b {
    font-size: 24rem;
    text-transform: uppercase;
    color: #39930d;
    font-weight: bold;
}
.contacts{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    text-align: right;
    padding-left: 30px;
}

.contacts b {
    font-size: 14rem;
    color: #5a5a5a;
    font-weight: bold;
    position: relative;
    padding-right: 40px;
}

.contacts b:before {
    content: url(../images/grafik.png);
    box-sizing: content-box;
    position: absolute;
    right: 150px;
}

.contacts a {
    font-size: 14rem;
    color: #5a5a5a;
    font-weight: bold;
    text-decoration: none;
    position: relative;
}

.contacts a:before {
    content: url(../images/phone.png);
    box-sizing: content-box;
    position: absolute;
    right: 130px;
}
main{
    padding-bottom: 30px;
}
.main_photo{
    width: 100%;
    margin-bottom: 20px;
}
img.main_photo {
    object-fit: cover;
    object-position: 70%;
    height: 300px;
}
.slide{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.slide img{
    flex-basis: 200px;
    /* height: 120px; */
    width: 23%;
    flex-grow: 1;
    margin: 0 auto;
}
.gallery{
    margin-bottom: 50px;
}
/* .gallery img {
    width: 100%;
    padding-bottom: 10px;
} */

/* .slide {
    display: flex;
    justify-content: space-between;
    padding-bottom: 31px;
}

.slide img {
    width: 24%;
} */

.main_content {
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    gap: 20px;
    flex-wrap: wrap-reverse;
    box-sizing: border-box;
}
/* .fww{
    flex-basis: 50%;
    width: 40%;
    flex-grow: 1;
    margin: 0 auto;
} */
section{
    width: 60%;
    min-width: 250px;
    flex-grow: 1;
    /* max-width: 50%; */
    margin-bottom: 20px;
}

section h1 {
    font-size: 24rem;
    color: #39930d;
    padding-bottom: 23px;
    /* padding-top: 6px; */
}

.main_content h2 {
    /* display: inline-block; */
    box-sizing: border-box;
    background-color: #39930d;
    padding: 14px 20px 14px 19px;
    min-width: 200px;
    font-size: 18rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}
.aside-menu{
    flex-grow: 1;
    width: 31%;
    min-width: 250px;
    margin-bottom: 50px;
}
.aside-menu ul {
    padding-top: 22px;
    list-style: none;
    padding-left: 22px;
}

.aside-menu ul li a {
    color: #343434;
    font-size: 14rem;
    line-height: 30rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

.aside-menu ul li a:hover {
    text-decoration: underline;
}

.sam_text p {
    padding-bottom: 23px;
}

/* .sam_text:last-child {
    padding-bottom: 50px;
} */

.footer{
    background: #38930c;
    padding: 10px 0px;
}
.footer_content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    background: #38930c;
}
.footer_content p{
    color: #fff;
}

.social_icons {
    display: flex;
    align-items: center;
    
    gap: 20px;
}

.social_icons a img {
    width: 23px;
}

.social_icons a:last-child {
    padding: 0;
}